*{
    margin:0;
    font-family: Arial;
    border:border-box;
}
.main{
    height:730px;
    width:100%;
    background-color:black;
}
.header{
    height:80px;
    background-color:rgb(62, 166, 78);
    color:rgb(157, 33, 33);
    text-align: center;
    font-size:30px;
}
.container{
    height:500px;
    width:450px;
    background-color:rgb(62, 166, 78);
    margin-left:550px;
    margin-top:80px;
    border-radius: 2rem;
    border:5px solid white;
}
.h2
{
    margin-left:100px;
}
.box{
    margin-left:30px;
}
input::placeholder {
    font-size:20px;
    color: gray;   
}
.body{
    margin-top:20px;
    margin-left:30px;
}
form select,button,input{
    width:400px;
    height:30px;
}
.body2{
    margin-left:30px;
  
}
i{
   margin-left:230px;
   margin-top:50px;
}
.exe{
    height:50px;
    margin-left:30px;
    margin-top:20px;
    background-color:black;
    color:white;
    border-radius:10px;
}